@media (min-width: 768px) {
    .navigation {
        display: flex;
    }
    .burger {
        display: none;
    }
}
@media (min-width: 980px) {
    header {
        padding: 0 40px;
    }
    .information {
        font-size: 28px;
    }
    .learn-more-btn {
        font-size: 20px;
    }
}
@media(min-width: 1100px) {
    .header, .information-article, .learn-btn, .grid-title, .text, .partners-title, .grid-itself, .quest, .footer {
        margin: 0 350px;
    }
    .grid-itself {
        display: grid;
        grid-template-columns: 30% 30% 30% ;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 20px;
    }
    .prev-btn, .next-btn {
        display: flex;
    }
    .partners-title {
        font-size: 24px;
    }
    .partners-slide {
        display: flex;
        flex-direction: row;
        gap: 10%;
    }
    .image-partners {
        width: 20%;
        }
        .next-btn, .prev-btn{
            top: 70px;
        }
        .questions-heading {
            font-size: 24px;
        }
        .questions {
            padding: 30px 40px;
        }
        .every-question {
            font-size: 24px;
        }

}