:root {
    --main-blue-color: #00A3E0;
    --dark-gray-color: #1a1e1f;
    --light-gray-color: #2b2b2b;
    --padding: 20px;
}
header {
    padding: var(--padding);
    background-color: var(--dark-gray-color);
    height: 69px;
    align-content: center;
    position: fixed;
    width: 100%;
    position: relative;
    position: fixed;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 980px;
} 
.logo-btn {
    cursor: pointer;
}
.sticky-header-light {
    opacity: 0.8;
}
/* burger */
.burger-line {
    width: 13px;
    height: 3px;
    background-color: white;
    border-radius: 10%;
    display: flex;
}
.burger {
    width: 26px;
    height: 21px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    color: white;
}
.burger-line-second {
    width: 100%;
    color: white;
}
.burger-line-third  {
    align-self: flex-end;
}
.burger-menu {
    align-items: flex-end;
    flex-direction: column;
    gap: 50px;
    width: 200px;
    display: none;
}
.burger-menu.show {
    background-color: var(--dark-gray-color);
    height: 100vh;
    position: absolute;
    z-index: 2;
    right: 0;
    top: 70px;
    display: inline-block;
}
.burger-li {
    color: white;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    padding-right: 10px;
    padding-top: 30px;
}
.burger-li:hover {
    color: var(--main-blue-color);
}
.navigation-li {
    cursor: pointer;
    padding-right: 10px;
}
/* navigation */
.navigation {
    display: none;
}
.navigation-ul, .navigation-li {
    padding: 0 10px;
    display: flex;
    font-size: 14px;
    color: white;
}
.active {
    color: var(--main-blue-color);
}
li:hover {
    color: var(--main-blue-color);
    cursor: pointer;
}
/* main */
.text {
    color: white;
    position: absolute;
    font-size: 42px;
    top: 180px;
    display: flex;
    z-index: 1;
}
.information{
    background-color: #2b2b2b;
    margin-top: -4px;
    padding: 30px;
} 
.information-article {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -4px;
    font-size: 20px;
}
.learn-btn {
    color: var(--main-blue-color);
    font-size: 16px;
    cursor: pointer;
    padding-top: 30px;
}
.grid-section {
    background-color: #161616;
    color: white;
    padding: 20px;
}
.every-grid {
    border: 1px solid rgb(101, 101, 101);
    border-radius: 2%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 99%;
    margin: 20px 0;
}
.section-image {
    object-fit: cover; 
    object-position: 50% 50%;
    width: 100%;
    height: 100%;
}
span {
    display: block;
    padding: 15px 0 15px 15px;
}
.details-btn {
    color: var(--main-blue-color);
    font-size: small;
}
.learn-more-btn {
    cursor: pointer;
    padding-bottom: var(--margin);
    padding-left: 15px;
    padding-bottom: 15px;
}
.partners-section {
    background-color: var(--light-gray-color);
    color: white;
    display: flex;
    gap: 15px;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 20px;
    position: relative;
}
.prev-btn {
    position: absolute;
    left: 20px;
    top: 250px;
    display: none;
    cursor: pointer;
}
.prev-next-btn {
    position: relative;
}
.next-btn {
    position: absolute;
    top: 250px;
    right: 20px;
    display: none;
    cursor: pointer;
}
.prev-btn:hover {
    opacity: 0.5;
}
.next-btn:hover {
    opacity: 0.5;
}
.partners-title {
    font-size: 18px;
    margin-bottom: 50px;
}
.partners-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.partners-slides {
    display: none;
}
.fade {
    animation-name: fade;
    animation-duration: 4s;
}
@keyframes fade {
    0%{
        right: 0;
    } 
    100% {
        right: 2000px
    }
}
.dot {
        background-color: var(--light-gray-color);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    cursor: pointer;
    padding: 20px;
    transition: background-color 0.6s ease ; 
}
.active .dot:hover {
    background-color: #00A3E0;
}
.image-partners {
    width: 80%;
}
.partners-first-slide.done {
    background-color: aqua;
}
.radios {
    margin-top: 15px;
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 18px;
}

/* questions */
.questions {
    background-color: var(--dark-gray-color);
    padding: 30px 17px;
    color: white;
}
.questions-heading {
    font-size: 14px;
    margin-bottom: 20px;
}
hr {
    margin-top: 20px;
    opacity: 0.2;
}
.every-question {
    color: var(--main-blue-color);
    display: flex;
    justify-content: center;
    padding: 30px 0;
    cursor: pointer;
}
.every-question:hover {
    color: gray;
}
.footer-button {
    background-color: var(--main-blue-color);
    color: white;
    font-size: 14px;
    border: 1px solid var(--main-blue-color);
    border-radius: 10%;
    padding: 4px  8px;
}
.button-logos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 0;
}
footer {
    color: white;
    background-color: #212127;
    padding: 20px;
}
.question-div {
    display: flex;
    flex-direction: row ;
    justify-content: space-between;
    cursor: pointer;
}
.answer {
    display: none;
}
.rules:hover {
    color: gray;
}